body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    overflow-x: hidden;
    /*ซ่อนแถบเลื่อนในแนวแกน x*/

}

/*กล่องด้านบน*/
header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(19, 0, 0, 0.978);
    position: sticky;
    top: 0px;
    width: 100%;

}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    float: left;
    padding: 15px;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #2c3e50;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*เอาไว้ทำให้หน้าอื่นไม่ใช่Hyperlink*/
nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    margin-top: 10px;
    font-size: 2.5em;
    font-weight: bold;
}


/*กล่องข้อความ*/

h2 {
    font-size: 23px;
    color: #34495e;

}

h3 {
    font-size: 18px;
    color: #34495e;
}


main {
    padding: 20px;
    text-align: center;
}

.video,
.boxshow {
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
}

video {
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.boxshow img {
    width: 50%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}


/*เอาไว้ทำปุ่มซ่อนข้อความ บ่งตรงว่างงการใช้อยู่ สาธุขอให้ไม่บัค 
ซ่อนเช็คบล็อค สไตล์ปุ่ม ซ่อนข้อความเริ่มต้น แสดงข้อความเมื่อเช็คบล็อคถูกเลือก ตามลำดับ*/
input[type="checkbox"] {
    display: none;
}

/* สไตล์ปุ่ม */
label {
    display: inline-block;
    background-color: #97bed8;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* ซ่อนข้อความที่ต้องการ */
.content {
    display: none;
    margin-top: 10px;
}

/* เมื่อ checkbox ถูกคลิก ให้แสดงข้อความ 3*/
input[type="checkbox"]:checked+label+.content {
    display: block;
}

audio {
    width: 80%;
    border-radius: 10px;
    padding: 10px;
}


/*ต่อจากนี้จะเป็นส่วนที่เพิ่มขึ้นของ My journey*/
.year-container {
    display: flex;
    justify-content: space-around;
    /*เพื่อกระจายกำหนดให้ช่องว่างระหว่างกล่องเท่ากัน*/
    gap: 20px;
    padding-top: 20px;
}

.year {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    width: 23%;
}

/*ใช้เพื่อเพิ่มลูกเล่น เมื่อเอาเม้สชี้กล่องในคลาสyearจะใหญ่ขึ้น*/
.year:hover {
    transform: scale(1.05);
}